body{
    
    text-align:center;
    background-color:#f1c40f;
}

h1 {
    color:blue;
}

img{ 
    margin-top:25px;
    
width: 500px;
border-radius:50%;
}

.project-title {
    text-align:left;
    margin-left:75px;
}

.item{










